<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>{{site.title}} | {{title}}</title>
  <link rel="alternate" type="application/rss+xml" href="{{site.feed_url}}" />
  <link rel="stylesheet" type="text/css" href="/styles/css/style.css" />
  {% comment %}<link rel="stylesheet" type="text/css" href="/styles/css/github.css" />{% endcomment %}
</head>
<body>
    

  <div class="wrap">
    <ul class="header-nav">
      {% for page in site.pages %}
        <li class="header-nav-item"><a href="{{ page.url }}">{{ page.title }}</a></li>
      {% endfor %}
    </ul>

    <form class="help-search-form">
      <input type="text" placeholder="Search topics..." class="help-search-field" />
    </form>
    
    <h1 class="page-title">{{ title }}</h1>
    
    {% if parent %}
      {% include 'includes/help-breadcrumbs' %}
    {% endif %}

    {% include 'includes/help-toc' %}
    
    <div class="body">
      {{ body }}
    </div>
    
  </div>

  <script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad()</script>
</body>
</html>