@import url(github.css);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: #41484a;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4; }

a {
  color: #0091e5;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.page-title {
  margin-bottom: 25px; }

h2 {
  font-size: 1.5em; }

p, ol, ul, table, pre {
  margin: 0 0 30px; }

code {
  background: rgba(235, 240, 242, 0.8);
  padding: 4px;
  font-size: 0.875em; }

pre {
  padding: 10px;
  background: rgba(235, 240, 242, 0.8);
  overflow: scroll; }
  pre code {
    padding: 0;
    margin: 0;
    background: none; }

table {
  margin-bottom: 30px; }

th, td {
  padding: 10px 15px 10px 0;
  margin: 0;
  text-align: left;
  font-size: 0.875em;
  border-bottom: 1px solid #eeeeee; }
  th:last-child, td:last-child {
    padding-right: 0; }

tr:last-child th, tr:last-child td {
  border-bottom: 0 none; }

.body {
  line-height: 1.5; }

.header-nav {
  list-style: none;
  margin: 0 0 15px;
  padding: 0; }

.header-nav-item {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.75em; }
  .header-nav-item a {
    color: #999d9e;
    padding: 10px;
    border-radius: 2px; }
  .header-nav-item:first-child a {
    padding-left: 0; }

.wrap {
  margin: 100px auto;
  max-width: 700px;
  width: 95%; }
  @media only screen and (max-width: 600px) {
    .wrap {
      margin: 50px auto; } }

img, embed, object, video, audio {
  max-width: 100%; }

.help-search-form {
  margin-bottom: 50px; }

.help-search-field {
  display: block;
  width: 100%;
  border: 0 none;
  background: rgba(235, 240, 242, 0.8);
  border-radius: 3px;
  padding: 10px;
  font-size: 0.875em; }

.st-snippet em {
  background: rgba(255, 153, 63, 0.3); }

body .swiftype-widget .autocomplete {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: 1px solid #eeeeee;
  margin: 5px 0 0; }
  body .swiftype-widget .autocomplete li:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
  body .swiftype-widget .autocomplete li:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }

.help-breadcrumbs {
  margin: -15px 0 50px;
  font-size: 0.875em; }

.help-current-breadcrumb {
  color: #999d9e; }

.help-topics, .help-subtopics {
  padding: 0;
  list-style: none; }

.help-topics {
  margin: 0 0 25px; }

.help-topic {
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid #eeeeee; }
  .help-topic:last-child {
    border-bottom: 0 none; }

.help-subtopics {
  margin: 5px 0 0; }

.help-subtopic {
  font-size: 0.875em;
  margin: 2px 0; }
  .help-subtopic:before {
    content: "-";
    margin-right: 5px;
    color: #999d9e; }

.help-post-date {
  color: #999d9e;
  font-size: 0.875em;
  display: inline-block;
  width: 120px; }
